body {
    background-color: black;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.calculator-grid button {
    font-size: large;
    font-weight: 200;
}

.span-two {
    grid-column: span 4;
}

.span-four {
    grid-column: span 3;
}